{
  "config": {
    "default": true,
    "MD022": true,
    "MD060": {
      "style": "compact"
    },
    "MD013": false,
    "MD033": false,
    "MD040": false,
    "MD041": false,
    "MD036": false,
    "MD025": false
  },
  "globs": [
    "**/*.md"
  ],
  "ignores": [
    "**/node_modules/**",
    "**/.venv/**",
    "**/system/**",
    "**/vendor/**"
  ]
}